#find-cards {
  padding: 50px 0px;
}

.search-bar-group {
  align-items: center;
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 0.25rem;
  height: 60px;
  border: 2px solid #25228b;
}

.search-icon {
  width: 17px;
  height: 17px;
  margin-left: 20px;
  color: #25228b;
}

.search-input {
  border: none !important;
  font-size: 18px;
}

.search-input::placeholder {
  color: #0064b5;
  opacity: 0.5;
}

.search-input:focus {
  border-color: white !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}
