#features {
  background-color: #e0f8fe;
}

.features-col-first-large-padding {
  padding: 100px 0px;
}

.features-col-first-small-padding {
  padding: 30px 0px;
}

.features-col-second {
  padding: 20px 0px;
}

.features-title {
  color: #000 !important;
}

.img-features {
  position: absolute;
  top: 100px;
  max-height: 400px;
}

.features-col-second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-download-app {
  width: 200px !important;
  height: 60px !important;
  cursor: pointer;
}
